/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #dfe6e9; 
    margin: 0;
    padding: 0;
}

main {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    background-color: #b2bec3; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos de encabezado y pie de página */

header {
    font-family: 'Lato', sans-serif;
    padding: 5px;
    text-align: center;
    color: #2d3436;
}

footer {
    padding: 15px;
    text-align: center;
    background-color: #b2bec3; 
    color:  #2d3436;
}

/* Estilos de entrada de texto */

textarea[name="user-input"] {
    width: calc(100% - 20px); 
    height: 150px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border-color: #636e72; 
    resize: none;
}

/* Estilos de botón */

#reset-button {
    margin: 20px auto;
    padding: 10px;
    width: 150px;
    background-color: #2d3436; 
    color: rgb(247, 247, 247);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
}

#reset-button:hover {
    background-color: #636e72; 
}

/* Estilos de elementos de lista */

.item {
    padding: 10px;
    margin-bottom: 5px;
    width: 200px;
    display: inline-block;
    margin-right: 10px;
    flex-basis: 20%;
    background-color:#2d3436; 
    color: rgb(247, 247, 247);
    border-radius: 10px;
}

